.container{
    display: flex;
    justify-content: center;
  
}

.nav-list {
    margin: 0;
    padding: 0;
    font-size: 0;
    

    /* width: 140px;
    height: 50px; */
    /* top: 590px; */
}

.nav-item{
    display: inline-block;
    position: relative;
    padding: 20px;
    background-color: #6A88B5;
    
}

.link { 
    color: white; 
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    ;
}

.sub-nav-list{
    /* display: none; */
    background: #6A88B5;
    padding: 20px;

}

.sub-nav-item{

}