.nav-list{
    margin: 0;
    padding: 0;
    font-size: 0; 

}
    

.list-item{
    position: relative;
    display:inline-block;
    padding: 20px;
    background: rgb(2, 122, 84);
}

.link{
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.sub-nav-list{
    position: absolute;
    display:block;
    width:120px;
    left: -30px;
    top: 63px;
   


}

.sub-list-item{
    /* display: none; */
    background-color: rgb(2, 122, 84);
    padding: 15px;

}