p{
    color: blue;
}

/* псевдоелемент selections - приміняє стилі до частини документу який був виділеним користувачем за допомогою миші*/

p::selection{
    background-color: rgb(195, 127, 255);
    color: rgb(226, 186, 43);
}

