/* * - множинний селектор (в залеж від того як ви його викор він має дек значень
уявімо що у нас є <div> (це може бути будь-який тег, клас , id, і т.д ) - то правило працює на всі divи з html  а якщо з * то тоді стилі 
застосовуються не для div, а для всіх ДОЧІРНІХ (вкладених в дів) елементів)

більш поширений варіант використання:
може вик в констексті універс селектору "*":

* {} - застосовує до всіх-всіх елементів якесь правило

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

Проблема: різні базові стилі , які можуть давати браузери
1 рішення - універс селектор з базовими правилами
2 рішення - reset.css - щоб скинути всі браузерні стилі
3 рішення - normalize.css (приводить всі стилі для всіх браузерів до чогось спільного)*/